html {
	overflow-y: scroll;
	overflow-x: hidden;
}
.container-fluid{
	padding-right: 0px;
    padding-left: 0px;
}
.navbar-inverse .navbar-brand {
	color:white;
	font-family: Abel;
	font-size: 25px;
}
.navbar-inverse .navbar-nav>li>a {
	color:white;
	font-family:Abel;
	font-size: 20px ;
}

.jumbotron
{
background-image:url('../mac1.jpg');
background-size:cover;

min-height:700px;
margin-bottom:0px;
border-radius: 0px;
}

.jumbotron2 {
background-color:white;
background-attachment:default;
min-height:600px;
margin-bottom:0px;
}

.jumbotron3 {
background-color:#E0E0D1;
background-attachment:fixed;
min-height:150px;
margin-bottom:0px;
}

#priIntro {
	text-align: center;
	color:white;
	font-size:100px;
	font-family:Poiret One;
	
}
#secIntro {
	margin-top:60px;
	color:white;
	font-family:Poiret One;
	font-size: 65px;
	text-align:center;
}
#quote {
	
	margin-top: 125px;
	text-align:center;
	color:black;
	font-family: Poiret One;
	font-size:50px;
	
	}
#quote2 {
	margin-top: 20px;
	text-align:center;
	color:black;
	font-family: Poiret One;
	font-size:30px;
}
#quote3 {
	margin-top: 20px;
	text-align:center;
	color:black;
	font-family: Poiret One;
	font-size:30px;
}
#help1 {
	margin-top:50px;
	color:#0A0A05;
	text-align:center;
	font-family:Poiret One;
	font-size:40px;
	
}
#helpbutton{
	color:#0A0A05;
	font-family:Poiret One;
	font-size:40px;
}
p {
	text-align:center;
}
#ronan {
	font-family:  Abel;
	font-size:115px;
}

#wd {
	
	font-family: Lobster;
}
#sw {
	font-family: Lobster;
}

footer
{
background-image:url('../blue.jpg');
min-height:105px;
}

#RBWD {
	margin-top: 20px;
	font-family: Poiret One;
	font-size:35px;
	color:white;
} 
#FMO {
	margin-top: 20px;
	font-family: Poiret One;
	color:white;
	font-size:35px;
	
}




